{
  "env": {
    "production": {
      "plugins": [["emotion", { "hoist": true }]]
    },
    "development": {
      "presets": ["react-app"],
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true,
            "autoLabel": true,
            "labelFormat": "[filename]"
          }
        ]
      ]
    }
  }
}
